* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  background: #0f172a;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #020617;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
  background: #1e293b;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  margin-bottom: 20px;
}

.topbar input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card i {
  font-size: 25px;
  color: #38bdf8;
  margin-bottom: 10px;
}

.card span {
  display: block;
  margin-top: 10px;
  color: #38bdf8;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}
